{% extends 'header.html' %}

{% block page_name %}
    <h4> Recipe Detail </h4>
{% endblock %}

{% block title %}
    <title> {{ recipe.name }} </title>
{% endblock %}

{% block body %}
    <h2> {{ recipe.name }} - {{ recipe.author }} </h2>
        <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li> {{ ingredient.ingredient.name }} - {{ ingredient.quantity }} </li>
        {% endfor %}
        {% for image in recipe.images.all %}
            <li> <img src="{{ image.task_image.url }}" alt="{{ image.description }}"> </li>
        {% endfor %}
        </ul>
{% endblock %}