{% extends 'header.html' %}

{% block page_name %}
    <h4> Recipe Detail </h4>
{% endblock %}

{% block title %}
    <title> {{ recipe.name }} </title>
{% endblock %}

{% block body %}
    <h2> {{ recipe.name }} - {{ recipe.author }} </h2>
        <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li> {{ ingredient.ingredient.name }} - {{ ingredient.quantity }} </li>
        {% endfor %}
        {% for image in recipe.images.all %}
            <img src="{{ image.recipe_image.url }}" alt="{{ image.description }}">
        {% endfor %}
        </ul>
        <a href="{% url 'ledger:image_form' recipe.pk %}">Add Image<a>
        <br>
        <a href="{% url 'ledger:recipe_list' %}">Back to Recipe List<a>
{% endblock %}